.blur
    filter: blur(2px)
.jealert 
    align-items center 
    background-color rgba(0, 0, 0, .5)
    color #fff
    display: none
    justify-content: center
    height: 100vh
    position fixed
    width: 100%
    z-index 999

    .je_alert_inside
        background-color: #fff
        border-radius: 12px
        min-width: 220px
        width 420px
    .je_alert_content
        color #333
        box-sizing: border-box
        overflow: hidden
        padding: 24px
        width: 100%
        h2,h5
            display: block
            font-size: 14px
            margin 0px
            font-weight: 700
            padding-bottom: 0px
            text-align: center
            width: 100%
        .icon
            display block
            margin-top: 24px
            text-align: center
            width: 100%
            img
                display: block
                margin 0px auto
                width: 90px
        ul
            margin 0px
            margin-top 16px
            padding: 0px
            list-style: none
            li
                margin-bottom: 2px
                i
                    position relative
                    margin-right: 4px
                    color red
                    top 2px
    .je_alert_footer
        display: block
        width: 100%
        .je_alert_btn_close
            border-top: 1px solid #f0f0f0
            color #323742
            display: block
            font-weight: 700
            padding: 16px
            text-decoration: none
            text-align: center
            width: 100%
        .je_alert_footer_other_btns
            margin-left: 7%
            width: 86%
            a.btn
                display: block
                color #fff
                -webkit-box-shadow: 2px 12px 12px 0px rgba(0,0,0,0.15)
                -moz-box-shadow: 2px 12px 12px 0px rgba(0,0,0,0.15)
                box-shadow: 2px 12px 12px 0px rgba(0,0,0,0.15)
                border-radius: 18px
                text-transform: uppercase
                margin-bottom: 24px
                width: 100% 
            a.bnt-success
                background-color:#44bb5e
            a.bnt-primary
                background-color:#0086de
            a.bnt-info
                background-color:#ffbb00
            a.bnt-danger
                background-color:#f9461c

.je_alert_animation_show
    animation-timing-function: easy-in-out
    animation alert show0.5s forwards

.je_alert_animation_hide
    animation-timing-function: easy-in-out
    animation alert show0.5s forwards

.scale_animation
    animation: scale 0.3s
    transition: all .6 ease-in-out

@keyframes alert_show {
    0%{
        opacity 0
    }
    100%{
        opacity 1
    }
}

@keyframes alert_hide {
    0%{
        opacity 1
    }
    100%{
        opacity 0
    }
}

@keyframes scale {
    0%{
        transform:  scale(0.9)
    }
    100%{
        transform:  scale(1)
        }
        
}


@media only screen and (max-width:600px)
    .jealert
        .je_alert_inside 
            width: 86%